body {
    --github:  #F4EFE1;
}

.dark {
    --github: #222;
}

footer {
    color: var(--color);
    font-family: 'Overpass Mono', monospace;

    & p {
        margin: 0.2rem 0;
    }

    & a {
        color: #FF6F1E;
        text-decoration: underline solid transparent;
        transition: text-decoration 0.6s ease;

        &:hover {
            text-decoration: underline solid #FF6F1E;
        }
    }

    & .github {
        opacity: 0.8;
        fill: var(--github);
    }
}